<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="/src/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container" id="container">
        <h1>BEM VINDO EQUIPE(s)</h1>
        <div id="containerTime">
            <h2>Times Criados</h2>
            <div id="listaTimes">
                <!-- Os times criados serão adicionados aqui -->
            </div>
        </div>
        <a href="/" class="btn btn-secondary">Voltar em casa</a>
        <button class="btn btn-primary" onclick="exibirEnigmas()">Avançar</button>
    </div>

    <div class="hidden" id="containerDesafios">
        
        
    </div>
</body>
<script src="/src/js/script.js"></script>
<script>
    function contagemRegressiva() {
    const contagemElement = document.getElementById("contagem");
    let tempoRestante = 5; // Tempo em segundos 

    setInterval(() => {
        if (tempoRestante > 0) {
            console.log(`O jogo começa em ${tempoRestante} segundos...`);
            tempoRestante--;
        } else {
            console.log("O jogo começou!");
        }
    }, 1000);
}

    window.onload = () => {
        contagemRegressiva();
    }
</script>

</html>