<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="/src/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <center><h2>Pódio</h2></center>
        <div id="listaTimes">


        </div>
    </div>

    <!-- <audio id="audio" autoplay src="/src/media/som_pre_quiz.mp3"></audio> -->
</body>
<script>
    const dadosTimeMaster = JSON.parse(localStorage.getItem("dadosTimeMaster")) || [];


    function verPodio() {
        const listaTimes = document.getElementById("listaTimes");

        listaTimes.innerHTML = "";

        dadosTimeMaster.forEach((time) => {

            listaTimes.innerHTML += `
        <div>
            <img 
                style="border-radius:50%; border:2px solid #333;" 
                src="${time.picture}" 
                alt="${time.nomeDoTime}" 
                width="70" 
                height="70"
            >

            ${time.nomeDoTime}: ${time.pontos} pontos
        </div>
        `;

        });

    }

    verPodio()


</script>



</html>