<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h1>BEM VINDO EQUIPE(s)</h1>
    <div id="containerTime" >
        <h2>Times Criados</h2>
        <div id="listaTimes">
            <!-- Os times criados serão adicionados aqui -->    
        </div>
    </div>
</body>
<script src="/src/js/script.js" ></script>
</html>