<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard do Administrador</title>
    <link rel="stylesheet" href="/src/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <!-- Neste painel o administrador irá somar os pontos de cada time manualmente -->
    <div class="container">
         <h2>Dashboard do Administrador</h2>
        <div id="containerTime" >
        <h2 id="titleTime">Times Criados</h2>
        <div id="listaTimes">
            <!-- Os times criados serão adicionados aqui -->    
        </div>
    </div>
    <a href="/" target="_blank" class="btn btn-secondary" >Abrir painel principal</a>
     </div>
</body>
<script src="/src/js/admscripts.js"></script>
</html>